/* TODO Proper styling */

.App-header {
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.App-content {
  width: 100%;
  min-height: 100vh;
}

.Selections {
  line-height: 24px;
}

.Descriptions {
  margin-top: 20px;
}

.Max-width {
  width: 100%;
  max-width: 1200px;
}

.Padding {
  padding-left: 20px;
  box-sizing: border-box;
}

.Left {
  text-align: left;
}

.Centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Border {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
}

.Hint {
  font-size: 80%;
  opacity: 70%;
}